<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand">
		<img src="{{ path_for('Start')}}img/logo.png"  style="width: 100px">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{% if session %}
			<li class="nav-item active">
				<a class="nav-link" href="{{path_for('Start')}}">Inicio</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{path_for('Contracts')}}">Contratos</a>
			</li>
			{% endif %}
		</ul>
	</div>
	{% if session %}
	<div class="row">
		<div class="col mt-2">
			<span class="h6 text-white"><em>{{ session.USER }}</em></span>
		</div>
		<div class="col">
			<a class="btn btn-danger" href="{{ path_for('LogOut') }}"><i class="fas fa-sign-out-alt"></i></a>
		</div>
	</div>
	{% endif %}
</nav>